In [18]:
import os

import math

import numpy as np

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import csv

In [19]:
df = pd.read_csv(os.path.join('..', '..', 'dataset', 'ucla-admissions.csv'))
df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

# Problem Statement

Using the sample of UCLA admissions statistics, determine how likely a given student will be admitted based on GPA, GRE, and highschool prestige.

# Assumptions & Risks

1. GRE, GPA and highschool prestige will allow us to predict admittance
2. Data is a representative sample of admission statistics
3. Timeframe is unknown

# Variables

Response Variables  : Admitted (yes/no)
Predictor Variables : GRE, GPA, Highschool Prestige

# Data Dictionary

In [20]:
data_dictionary = {'Variable': ['admit', 'gre', 'gpa', 'prestige'],
    'Description': ['student admitted', 'student gre score', 'student gpa', 'student highschool prestige'],
    'Variable Type': ["categorical", "categorical", "categorical", "categorical"]}
print data_dictionary

{'Variable': ['admit', 'gre', 'gpa', 'prestige'], 'Description': ['student admitted', 'student gre score', 'student gpa', 'student highschool prestige'], 'Variable Type': ['categorical', 'categorical', 'categorical', 'categorical']}

In [21]:
data_dic = pd.DataFrame({'Variable': ['admit', 'gre', 'gpa', 'prestige'],
    'Description': ['student admitted', 'student GRE score', 'student gpa', 'student highschool prestige'],
    'Type': ['categorical', 'categorical', 'categorical', 'categorical']}).\
        set_index('Variable')

In [22]:
data_dic

                          Description         Type
Variable
admit                student admitted  categorical
gre                 student GRE score  categorical
gpa                       student gpa  categorical
prestige  student highschool prestige  categorical

# Exploratory Data Analysis Methods

Explore mean and median of GPA, GRE, highschool prestige in order to help predict whether a given student will be admitted to UCLA.